@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

$primary: #8e48b6;
$enable-rounded: false;
$enable-gradiendts: true;
$carousel-control-color: $primary;
$carousel-control-opacity:           .5;
$carousel-control-width:             15%;
@import "../node_modules/bootstrap/scss/bootstrap";


